.nav {
  position: fixed; 
  top: 0; 
  width: 100%;
 


  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  padding: 1.5em;

}

nav > span {
  font-family: Bungee, cursive;
  font-size: 50px;
}
