


form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
}

textarea {
  resize: none;
  outline: none;
  color: #545149;
  margin: 0px 0px 20px;
  height: 64px;
  border-width: 0 0 5px 0 ;
  margin-bottom: 20px;
  background-color: #f4f1ec;
  font-size: 24px;
}

textarea::placeholder {
  font-size: 30px;
  font-weight: 600;
  color: #545149;

}

.bottom-row {
  display: flex;
  font-family: Bungee, cursive;
  justify-content: space-between;
}

h2 {
  margin-top: 20px;
}

.black {
  color: #545149;
}

.red {
  color: #ff0000
}