.tweets {
  border: #545149 4px solid;  
  border-radius: 5px;
  display: block;
  margin: 1em 0 1em 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tweets .username {
  display: block;
  margin: 0 2em 0 0;
}

.tweets:hover {
  box-shadow: 10px 10px 5px grey;
}

.tweets:hover .icons {
  display: flex;
  justify-content: space-between;
  margin: 0 2em 0 0;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.name {
  font-weight: normal;
}

.username h3 {
  font-weight: normal;
  color: rgb(137, 185, 230);
  overflow-wrap: anywhere;
}

.header .username {
  margin: 1em; 
}

.header .imagename {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.header div .avatar {
  width: 50px;
  height: 50px;
}

.header div .name {
  margin-left: 1em;
}

.tweet {
  margin: 1em 2em 1em 2em ;
}

.line {
  border: #545149 1px solid;  
  width: 95%
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 16px;
  margin: 1em;
}

.tweets .icons {
  display: none;
  width: 15%;
  color:#4056A1;
}

.icons .fas{
font-size: 0.75em
}

@media only screen and (min-width: 1024px) {

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .tweets-container {
     
      margin: 0 0 2em;
      width: 40%; 
      height: 100%; 
    
    }
}